h4 {
    text-align: center;
}

#wow {
    color: chartreuse;
}

#woo {
    color: purple;
}

.hey {
    text-decoration: underline;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px #c3c4cb;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #e1173c;
}

a:hover {
    color: blue;
    background-color: rgb(227, 231, 37);
}